debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

temp_directory: "/tmp/ansible_home"

helm_values_temp_file: "{{ temp_directory }}/helm_values.yml"

infiscal_url: "{{ lookup('env', 'INFISCAL_URL') }}"
infiscal_project_id: "{{ lookup('env', 'INFISCAL_PROJECT_ID') }}"
infiscal_environment_slug: "{{ lookup('env', 'INFISCAL_ENVIRONMENT_SLUG') }}"

k8s_version: "1.34.1"
k8s_major_version: "{{ k8s_version.split('.')[0] }}.{{ k8s_version.split('.')[1] }}"
k8s_service_cidr: "10.96.0.0/12"
k8s_pod_network_cidr: "10.244.0.0/16"
k8s_service_dns_domain: "cluster.local"
k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"

kubernetes_dashboard_namespace: "kubernetes-dashboard"
kubernetes_dashboard_ingress_domain: "k8s.{{ homeassistantenv_parent_domain }}"

akri_namespace: "akri"
akri_zigbee_radio_product_id: "ea60"
akri_zigbee_radio_vendor_id: "10c4"
akri_udev_instance_name: "zigbee-radio"
akri_udev_discovery_rules_list:
  - '''ATTRS{idVendor}=="{{ akri_zigbee_radio_vendor_id }}", ATTRS{idProduct}=="{{ akri_zigbee_radio_product_id }}"'''
akri_udev_discovery_group_recursive: true

homeassistantenv_namespace: "home-assistant"
homeassistantenv_parent_domain: "home.parkl.ee"
homeassistantenv_ingress_tls_secret: "homeassistant-ingress-tls"

homeassistant_namespace: "{{ homeassistantenv_namespace }}"
homeassistant_storage_class_name: "homeassistant-zfs-sc"
homeassistant_storage_class_pool_name: "zfspv-pool"
homeassistant_storage_class_reclaim_policy: "Retain"
homeassistant_data_volume_size: "64Gi"
homeassistant_codeserver_enabled: true
homeassistant_codeserver_service_port: 12123
homeassistant_codeserver_ingress_domain: "code.{{ homeassistant_ingress_domain }}"
homeassistant_codeserver_auth_secret_name: "homeassistant-codeserver-auth"
homeassistant_trusted_proxies:
  - "{{ k8s_service_cidr }}"
  - "{{ k8s_pod_network_cidr }}"
  - "127.0.0.0/8"
homeassistant_service_port: 8123
homeassistant_ingress_domain: "{{ homeassistantenv_parent_domain }}"

cert_manager_cluster_issuer_name: "letsencrypt"
cert_manager_cluster_issuer_private_key_secret_name: "{{ cert_manager_cluster_issuer_name }}-key"
cert_manager_cluster_issuer_acme_server: "https://acme-v02.api.letsencrypt.org/directory"
cert_manager_cloudflare_email_secret_name: "cloudflare-email"
cert_manager_cloudflare_email: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_email_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_api_token_secret_name: "cloudflare-api-token"
cert_manager_cloudflare_api_token: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_api_token_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_secret_name: "cloudflare-api"
cert_manager_namespace: "cert-manager"

mosquitto_namespace: "{{ homeassistantenv_namespace }}"
mosquitto_storage_class_name: "{{ homeassistant_storage_class_name }}"
mosquitto_data_volume_size: "8Gi"
mosquitto_username: "admin"
mosquitto_password_secret_name: "mosquitto-account-password"
mosquitto_password: "{{ lookup('infisical.vault.read_secrets', secret_name=mosquitto_password_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
mosquitto_password_hashed: "{{ mosquitto_password | mosquitto_passwd }}"
mosquitto_service_address: "mosquitto.{{ homeassistant_namespace }}.svc.cluster.local"
mosquitto_mqtt_port: 1883
mosquitto_websocket_port: 9001

zigbee2mqtt_namespace: "{{ homeassistantenv_namespace }}"
zigbee2mqtt_ingress_domain: "z2m.{{ homeassistantenv_parent_domain }}"
zigbee2mqtt_service_port: 8080
