debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

temp_directory: "/tmp/ansible_home"

helm_values_temp_file: "{{ temp_directory }}/helm_values.yml"

infiscal_url: "{{ lookup('env', 'INFISCAL_URL') }}"
infiscal_project_id: "{{ lookup('env', 'INFISCAL_PROJECT_ID') }}"
infiscal_environment_slug: "{{ lookup('env', 'INFISCAL_ENVIRONMENT_SLUG') }}"

k8s_version: "1.34.1"
k8s_major_version: "{{ k8s_version.split('.')[0] }}.{{ k8s_version.split('.')[1] }}"
k8s_service_cidr: "10.96.0.0/12"
k8s_pod_network_cidr: "10.244.0.0/16"
k8s_service_dns_domain: "cluster.local"
k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"
k8s_kubectl_remote_source_path: "/tmp/kubeconfig"

kubernetes_dashboard_web_image_repository: "docker.io/kubernetesui/dashboard-web"
kubernetes_dashboard_web_image_tag: "latest"
kubernetes_dashboard_api_image_repository: "docker.io/kubernetesui/dashboard-api"
kubernetes_dashboard_api_image_tag: "latest"
kubernetes_dashboard_auth_image_repository: "docker.io/kubernetesui/dashboard-auth"
kubernetes_dashboard_auth_image_tag: "latest"
kubernetes_dashboard_image_pull_policy: "Always"
kubernetes_dashboard_namespace: "kubernetes-dashboard"
kubernetes_dashboard_api_only: false
kubernetes_dashboard_ingress_domain: "k8s.{{ homeassistantenv_parent_domain }}"
kubernetes_dashboard_ingress_tls_secret: "kubernetes-dashboard-ingress-tls"

akri_controller_image_repository: "ghcr.io/project-akri/akri/controller"
akri_controller_image_tag: "latest"
akri_controller_image_pull_policy: "Always"
akri_agent_image_repository: "ghcr.io/project-akri/akri/agent"
akri_agent_full_image_repository: "ghcr.io/project-akri/akri/agent-full"
akri_agent_image_tag: "latest"
akri_agent_image_pull_policy: "Always"
akri_namespace: "akri"
akri_zigbee_radio_product_id: "ea60"
akri_zigbee_radio_vendor_id: "10c4"
akri_udev_instance_name: "zigbee-radio"
akri_udev_discovery_rules_list:
  - '''ATTRS{idVendor}=="{{ akri_zigbee_radio_vendor_id }}", ATTRS{idProduct}=="{{ akri_zigbee_radio_product_id }}"'''
akri_udev_discovery_group_recursive: true

parent_domain: "parkl.ee"

homeassistantenv_namespace: "homeassistant"
homeassistantenv_parent_domain: "home.{{ parent_domain }}"

homeassistant_image_repository: "ghcr.io/home-assistant/home-assistant"
homeassistant_image_tag: "latest"
homeassistant_image_pull_policy: "Always"
homeassistant_namespace: "{{ homeassistantenv_namespace }}"
homeassistant_storage_class_name: "homeassistant-zfs-sc"
homeassistant_storage_class_pool_name: "zfspv-pool"
homeassistant_storage_class_reclaim_policy: "Retain"
homeassistant_data_volume_size: "64Gi"
homeassistant_codeserver_enabled: true
homeassistant_codeserver_image_repository: "ghcr.io/coder/code-server"
homeassistant_codeserver_image_tag: "latest"
homeassistant_codeserver_image_pull_policy: "Always"
homeassistant_codeserver_service_port: 12123
homeassistant_codeserver_ingress_domain: "code.{{ homeassistant_ingress_domain }}"
homeassistant_codeserver_ingress_tls_secret: "homeassistant-codeserver-ingress-tls"
homeassistant_codeserver_auth_secret_name: "homeassistant-codeserver-auth"
homeassistant_trusted_proxies:
  - "{{ k8s_service_cidr }}"
  - "{{ k8s_pod_network_cidr }}"
  - "127.0.0.0/8"
homeassistant_service_port: 8123
homeassistant_ingress_domain: "{{ homeassistantenv_parent_domain }}"
homeassistant_ingress_tls_secret: "homeassistant-ingress-tls"

cert_manager_image_repository: "quay.io/jetstack/cert-manager-controller"
cert_manager_image_tag: "latest"
cert_manager_image_pull_policy: "Always"
cert_manager_cluster_issuer_name: "letsencrypt"
cert_manager_cluster_issuer_private_key_secret_name: "{{ cert_manager_cluster_issuer_name }}-key"
cert_manager_cluster_issuer_acme_server: "https://acme-v02.api.letsencrypt.org/directory"
cert_manager_cloudflare_email_secret_name: "cloudflare-email"
cert_manager_cloudflare_email: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_email_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_api_token_secret_name: "cloudflare-api-token"
cert_manager_cloudflare_api_token: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_api_token_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_secret_name: "cloudflare-api"
cert_manager_namespace: "cert-manager"

cluster_ingress_primary_class_name: "nginx"
cluster_ingress_default_annotations:
  cert-manager.io/cluster-issuer: "{{ cert_manager_cluster_issuer_name }}"

mosquitto_image_repository: "eclipse-mosquitto"
mosquitto_image_tag: "latest"
mosquitto_image_pull_policy: "Always"
mosquitto_namespace: "{{ homeassistantenv_namespace }}"
mosquitto_storage_class_name: "{{ homeassistant_storage_class_name }}"
mosquitto_data_volume_size: "8Gi"
mosquitto_username: "admin"
mosquitto_password_secret_name: "mosquitto-account-password"
mosquitto_password: "{{ lookup('infisical.vault.read_secrets', secret_name=mosquitto_password_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
mosquitto_password_hashed: "{{ mosquitto_password | mosquitto_passwd }}"
mosquitto_service_address: "mosquitto.{{ homeassistant_namespace }}.svc.cluster.local"
mosquitto_mqtt_port: 1883
mosquitto_websocket_port: 9001

zigbee2mqtt_image_repository: "koenkk/zigbee2mqtt"
zigbee2mqtt_image_tag: "latest"
zigbee2mqtt_image_pull_policy: "Always"
zigbee2mqtt_namespace: "{{ homeassistantenv_namespace }}"
zigbee2mqtt_ingress_domain: "z2m.{{ homeassistantenv_parent_domain }}"
zigbee2mqtt_ingress_tls_secret: "zigbee2mqtt-ingress-tls"
zigbee2mqtt_service_port: 8080

tf_state: "planned"
