debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

temp_directory: "/tmp/ansible_home"

infiscal_url: "{{ lookup('env', 'INFISCAL_URL') }}"
infiscal_project_id: "{{ lookup('env', 'INFISCAL_PROJECT_ID') }}"
infiscal_environment_slug: "{{ lookup('env', 'INFISCAL_ENVIRONMENT_SLUG') }}"

helm_values_temp_file: "{{ temp_directory }}/helm_values.yml"

openebs_zfs_pool_name: "zfspv-pool"
openebs_zfs_pool_device: "/dev/sda1"

ingress_nginx_service_type: "NodePort"
ingress_nginx_service_http_node_port: 30080
ingress_nginx_service_https_node_port: 30443

k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"

zigbee2mqtt_radio_product_id: "ea60"
zigbee2mqtt_radio_vendor_id: "10c4"
akri_udev_instance_name: "zigbee2mqtt-radio"
akri_udev_discovery_rules_list:
  - '''ATTRS{idVendor}=="{{ zigbee2mqtt_radio_vendor_id }}", ATTRS{idProduct}=="{{ zigbee2mqtt_radio_product_id }}"'''
akri_udev_discovery_group_recursive: true

homeassistant_namespace: "home-assistant"
homeassistant_storage_class_name: "homeassistant-zfs-sc"
homeassistant_storage_reclaim_policy: "Retain"
homeassistant_storage_zfs_pool_name: "{{ openebs_zfs_pool_name }}"
homeassistant_data_volume_size: "64Gi"
homeassistant_codeserver_auth_secret_name: "homeassistant-codeserver-auth"
homeassistant_ingress_tls_secret: "homeassistant-ingress-tls"

homeassistant_service_port: 8123
homeassistant_ingress_domain: "home.parkl.ee"

cert_manager_cluster_issuer_name: "letsencrypt"
cert_manager_cluster_issuer_private_key_secret_name: "{{ cert_manager_cluster_issuer_name }}-key"
cert_manager_cluster_issuer_acme_server: "https://acme-v02.api.letsencrypt.org/directory"
cert_manager_cloudflare_email_secret_name: "cloudflare-email"
cert_manager_cloudflare_email: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_email_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_api_token_secret_name: "cloudflare-api-token"
cert_manager_cloudflare_api_token: "{{ lookup('infisical.vault.read_secrets', secret_name=cert_manager_cloudflare_api_token_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
cert_manager_cloudflare_secret_name: "cloudflare-api"
cert_manager_namespace: "cert-manager"

mosquitto_storage_class_name: "{{ homeassistant_storage_class_name }}"
mosquitto_data_volume_size: "8Gi"

# nginx_user: "nginx"
# nginx_group: "nginx"
# nginx_worker_processes: "{{ ansible_processor_vcpus | default(1) }}"
# nginx_worker_connections: 1024
# nginx_external_port: 443
# nginx_external_network_server_name: "parkl.ee"
# nginx_internal_port: 80
# nginx_internal_network_server_name: "{{ ansible_default_ipv4 }}"
# nginx_internal_network_allowed_cidrs: ["192.168.1.0/24"]
# nginx_upstream_service: "{{ ingress_nginx_service_cluster_ip }}"
# nginx_upstream_port: "{{ ingress_nginx_service_http_node_port }}"
# nginx_upstream_proto: "http"

# homeassistant_namespace: "homeassistant"
# homeassistant_sub_domain: "home"
# homeassistant_service_port: 8123
# homeassistant_service_node_port: 30123
# homeassistant_data_volume_size: "64Gi"
# homeassistant_time_volume_size: "8Gi"

# mosquitto_sub_domain: "mqtt.{{ homeassistant_sub_domain }}"
# mosquitto_websocket_port: 9001
# mosquitto_websocket_node_port: 30001
# mosquitto_mqtts_port: 8883
# mosquitto_mqtt_port: 1883
mosquitto_username: "admin"
mosquitto_password_secret_name: "mosquitto-account-password"
mosquitto_password: "{{ lookup('infisical.vault.read_secrets', secret_name=mosquitto_password_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value | mosquitto_passwd }}"
# mosquitto_data_volume_size: "8Gi"

# zigbee2mqtt_service_port: 8080
# zigbee2mqtt_service_node_port: 30234
# zigbee2mqtt_sub_domain: "z2m.{{ homeassistant_sub_domain }}"
# zigbee2mqtt_radio_vendor_id: "10c4"
# zigbee2mqtt_radio_product_id: "ea60"
# zigbee2mqtt_data_volume_size: "16Gi"

# homeassistant_network_domain: "{{ nginx_external_network_server_name }}"
# homeassistant_network_acme_email_secret_name: "homeassistant-acme-email"
# homeassistant_network_acme_email: "{{ lookup('infisical.vault.read_secrets', secret_name=homeassistant_network_acme_email_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
# homeassistant_dns01_provider: "cloudflare"
