replicaCount: 1

image:
  repository: "ghcr.io/home-assistant/home-assistant"
  tag: "latest"
  pullPolicy: "Always"

serviceAccount:
  create: true
  name: "home-assistant-sa"

controller:
  type: "StatefulSet"

persistence:
  enabled: true
  storageClass: "{{ homeassistant_storage_class_name }}"
  size: "{{ homeassistant_data_volume_size }}"
  accessMode: "ReadWriteOnce"

configuration:
  enabled: true
  trusted_proxies: {{ homeassistant_trusted_proxies }}
  templateConfig: |
    {{ lookup('template', 'templates/sub_templates/homeassistant_configuration.yml.j2') | indent(4) }}
  initScript: |
    {{ lookup('template', 'templates/sub_templates/homeassistant_init_script.sh.j2') | indent(4) }}

hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet

service:
  type: "ClusterIP"
  port: {{ homeassistant_service_port }}

{# additionalServices:
  - name: "tailscale"
    type: "LoadBalancer"
    loadBalancerClass: "tailscale"
    port: {{ homeassistant_service_port }}
    targetPort: http
    protocol: TCP #}

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "{{ cert_manager_cluster_issuer_name }}"
  hosts:
    - host: "{{ homeassistant_ingress_domain }}"
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: "{{ homeassistant_ingress_tls_secret }}"
      hosts:
        - "{{ homeassistant_ingress_domain }}"
        - "*.{{ homeassistant_ingress_domain }}"

addons:
  codeserver:
    enabled: true
    image:
      repository: "ghcr.io/coder/code-server"
      pullPolicy: "Always"
      tag: "latest"
    auth:
      enabled: true
    service:
      type: "ClusterIP"
      port: 12123
      