homeassistant:
  ingress:
    subDomain: "{{ homeassistant_sub_domain }}"
    servicePort: "{{ homeassistant_service_port }}"
    nodePort: "{{ homeassistant_service_node_port }}"
  storage:
    reclaimPolicy: "Retain"
  volume:
    data:
      size: "{{ homeassistant_data_volume_size }}"
    time:
      size: "{{ homeassistant_time_volume_size }}"
  config:
    configuration: |
      {{ lookup('template', 'templates/sub_templates/homeassistant_configuration.yml.j2') | indent(6) }}
mosquitto:
  ingress:
    subDomain: "{{ mosquitto_sub_domain }}"
    websocketPort: "{{ mosquitto_websocket_port }}"
    websocketNodePort: "{{ mosquitto_websocket_node_port }}"
    mqttsPort: "{{ mosquitto_mqtts_port }}"
    mqttPort: "{{ mosquitto_mqtt_port }}"
  account:
    username: "{{ mosquitto_username }}"
    password: "{{ mosquitto_password }}"
  storage:
    reclaimPolicy: "Retain"
  volume:
    data:
      size: "{{ mosquitto_data_volume_size }}"
zigbee2mqtt:
  ingress:
    subDomain: "{{ zigbee2mqtt_sub_domain }}"
    servicePort: "{{ zigbee2mqtt_service_port }}"
    nodePort: "{{ zigbee2mqtt_service_node_port }}"
  storage:
    reclaimPolicy: "Retain"
  volume:
    data:
      size: "{{ zigbee2mqtt_data_volume_size }}"
  radio:
    akri:
      enabled: false
      instance: "{{ akri_udev_instance_name }}"
network:
  ingress:
    host: "{{ homeassistant_network_domain }}"
  certmanager:
    clusterissuer:
      acme:
        email: "{{ homeassistant_network_acme_email }}"
      dns01:
        cloudflare:
          email: "{{ cloudflare_email }}"
          apiTokenSecretName: "{{ cloudflare_api_token_secret_name }}"
          apiTokenSecretKey: "api-key"
