- name: Clear existing requested template values files
  ansible.builtin.file:
    path: "{{ temp_directory }}/values_fragments"
    state: absent

- name: Create temporary directory for helm chart values fragments
  ansible.builtin.file:
    path: "{{ temp_directory }}/values_fragments"
    state: directory

- name: Create requested template values values_files
  ansible.builtin.template:
    src: "templates/{{ item }}.yml.j2"
    dest: "{{ temp_directory }}/values_fragments/{{ item }}.yml"
  loop: "{{ requested_values_templates }}"
  notify: helm_cleanup_values_fragments

- name: Clear existing assembled values files
  ansible.builtin.file:
    path: "{{ helm_values_temp_file }}"
    state: absent

- name: Assemble fragments
  ansible.builtin.assemble:
    src: "{{ temp_directory }}/values_fragments/"
    remote_src: true
    dest: "{{ helm_values_temp_file }}"
    delimiter: "\n"
  notify: helm_cleanup_values_file
