app:
  ingress:
    enabled: true
    hosts:
      - "{{ kubernetes_dashboard_ingress_domain }}"
    ingressClassName: "nginx"
    useDefaultIngressClass: false
    useDefaultAnnotations: true
    pathType: "ImplementationSpecific"
    path: "/"
    issuer:
      name: "{{ cert_manager_cluster_issuer_name }}"
      scope: "cluster"
    tls:
      enabled: true
      secretName: "{{ homeassistantenv_ingress_tls_secret }}"
