image:
  repository: koenkk/zigbee2mqtt
  tag: "latest"
  pullPolicy: "Always"

service:
  type: "ClusterIP"
  port: {{ zigbee2mqtt_service_port }}

zigbee2mqtt:
  mqtt:
    server: "mqtt://{{ mosquitto_service_address }}:{{ mosquitto_mqtt_port }}"
    user: "{{ mosquitto_username }}"
    password: "{{ mosquitto_password }}"
  serial:
    port: null  # e.g. /dev/ttyACM0

ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "{{ cert_manager_cluster_issuer_name }}"
  hosts:
    - host: "{{ zigbee2mqtt_ingress_domain }}"
      paths:
        - path: "/"
          pathType: "ImplementationSpecific"
        - path: "/api"
          pathType: "ImplementationSpecific"
  tls:
    - secretName: "{{ zigbee2mqtt_ingress_tls_secret }}"
      hosts:
        - "{{ zigbee2mqtt_ingress_domain }}"
