image:
  repository: koenkk/zigbee2mqtt
  tag: "latest"
  pullPolicy: "Always"

service:
  type: "ClusterIP"
  port: 8080

zigbee2mqtt:
  mqtt:
    server: "mqtt://{{ mosquitto_service_address }}:{{ mosquitto_mqtt_port }}"
    user: "{{ mosquitto_username }}"
    password: "{{ mosquitto_password }}"
  serial:
    port: null  # e.g. /dev/ttyACM0

ingress:
  enabled: true
  ingressClassName: "nginx"
  hosts:
    - host: "{{ zigbee2mqtt_ingress_domain }}"
      paths:
        - path: /
          pathType: ImplementationSpecific
        - path: /api
          pathType: ImplementationSpecific
  tls:
    - secretName: "{{ homeassistantenv_ingress_tls_secret }}"
      hosts:
        - "{{ zigbee2mqtt_ingress_domain }}"
