- name: Clear existing requested template values files
  ansible.builtin.file:
    path: "{{ working_directory }}"
    state: absent
  changed_when: false

- name: Create temporary directory for helm chart values fragments
  ansible.builtin.file:
    path: "{{ working_directory }}"
    state: directory
  changed_when: false

- name: Create requested template values values_files
  ansible.builtin.template:
    src: "templates/{{ item }}.yml.j2"
    dest: "{{ working_directory }}/{{ item }}.yml"
  loop: "{{ requested_values_templates }}"
  notify: helm_cleanup_values_fragments

- name: Clear existing assembled values file
  ansible.builtin.file:
    path: "{{ final_values_file_path }}"
    state: absent
  changed_when: false

- name: Assemble fragments
  ansible.builtin.assemble:
    src: "{{ working_directory }}"
    remote_src: true
    dest: "{{ final_values_file_path }}"
    delimiter: "\n"
  notify: helm_cleanup_values_file
