- name: Create Cloudflare dns api token secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ cloudflare_api_token_secret_name }}"
        namespace: "cert-manager"
      type: Opaque
      stringData:
        api-key: "{{ cloudflare_api_token }}"
    kubeconfig: "{{ k8s_kubectl_config_path }}"
