- name: Add pajikos home-assistant repo to helm
  kubernetes.core.helm_repository:
    name: pajikos
    repo_url: http://pajikos.github.io/home-assistant-helm-chart
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    force_update: true

- name: Create values file
  ansible.builtin.include_role:
    name: helm_values
  vars:
    requested_values_templates:
      - home-assistant

- name: Create storage components
  ansible.builtin.include_tasks: create_homeassistant_storage_components.yml

- name: pause for 2 minutes for debug check
  ansible.builtin.pause:
    minutes: 2
    prompt: "Paused for 2 minutes to allow for debug"

- name: Install pajikos/home-assistant via helm
  kubernetes.core.helm:
    name: home-assistant
    chart_ref: pajikos/home-assistant
    namespace: "{{ homeassistant_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ helm_values_temp_file }}"
    update_repo_cache: true
    state: present
