- name: Add pajikos home-assistant repo to helm
  kubernetes.core.helm_repository:
    name: pajikos
    repo_url: http://pajikos.github.io/home-assistant-helm-chart
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    force_update: true

- name: Create values file
  ansible.builtin.include_role:
    name: values
  vars:
    requested_values_templates:
      - home-assistant

- name: Get cidrs from k8s cluster
  block:
    - name: Retrieve kubeadm configmap
      kubernetes.core.k8s_info:
        kind: "ServiceCIDR"
        name: "kubernetes"
        kubeconfig: "{{ k8s_kubectl_config_path }}"
      register: k8s_service_cidr_info
    
    - name: Get pod network cidrs from k8s cluster
      kubernetes.core.k8s_info:
        kind: "Node"
        kubeconfig: "{{ k8s_kubectl_config_path }}"
      register: k8s_node_info
    
    - name: Set k8s_service_cidrs fact
      set_fact:
        k8s_service_cidrs: "{{ k8s_service_cidr_info.resources[0].spec.cidrs }}"
        k8s_pod_network_cidrs: "{{ k8s_node_info.resources | map(attribute='spec.podCIDR') | list }}"
        general_trusted_proxies: ["127.0.0.0/8"]
    
    - name: Concat into fact
      set_fact:
        homeassistant_trusted_proxies: "{{ k8s_service_cidrs + k8s_pod_network_cidrs + general_trusted_proxies }}"

- name: Create storage components
  ansible.builtin.include_tasks: create_homeassistant_storage_components.yml

- name: Install pajikos/home-assistant via helm
  kubernetes.core.helm:
    name: home-assistant
    chart_ref: pajikos/home-assistant
    namespace: "{{ homeassistant_namespace }}"
    create_namespace: true
    kubeconfig: "{{ k8s_kubectl_config_path }}"
    values_files:
      - "{{ helm_values_temp_file }}"
    update_repo_cache: true
    state: present
