- name: Create rendered values
  ansible.builtin.include_role:
    name: helm_values
  vars:
    requested_values_templates: "{{ item.fragments }}"
    final_values_file_path: "{{ item.final_temp_path }}"
  with_items: "{{ requested_values_templates_by_chart }}"

- name: Create tf variables
  ansible.builtin.set_fact:
    tf_helm_values_variables: "{{ tf_helm_values_variables | default({}) | combine({ item.chart ~ '_values_yaml': lookup('ansible.builtin.file', item.final_temp_path) }) }}"
  with_items: "{{ requested_values_templates_by_chart }}"

- name: Add other variables
  ansible.builtin.set_fact:
    tf_helm_values_variables: "{{ tf_helm_values_variables | combine({ 'kubeconfig_path': k8s_kubectl_remote_source_path }) }}"

- name: Use rendered values with terraform
  community.general.terraform:
    project_path: "{{ cicd_workspace_path }}/terraform/tf_lib/{{ tf_target_project }}"
    variables: "{{ tf_helm_values_variables }}"
    state: "{{ tf_state }}"
    plan_file: "/tmp/{{tf_target_project}}.tfplan"
    force_init: true
  register: terraform_result

- name: Display terraform plan output
  ansible.builtin.debug:
    msg: "{{ terraform_result.stdout }}"
  when: display_plan and tf_state == 'planned'
