- name: Create StorageClass for HomeAssistant
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: storage.k8s.io/v1
      kind: StorageClass
      metadata:
        name: "{{ homeassistant_storage_class_name }}"
      parameters:
        recordsize: "128k"
        compression: "off"
        dedup: "off"
        fstype: "zfs"
        poolname: "{{ homeassistant_storage_class_pool_name }}"
      reclaimPolicy: "{{ homeassistant_storage_class_reclaim_policy }}"
      provisioner: zfs.csi.openebs.io
      volumeBindingMode: WaitForFirstConsumer
    kubeconfig: "{{ k8s_kubectl_config_path }}"
